/* Header styles*/
header{
  width:100%;
  height: 250px;
  background: rgba(243, 243, 243, 1);
  -webkit-box-shadow:inset 0 -1px 0 0 #F8F8F8;
  box-shadow:inset 0 -1px 0 0 #F8F8F8;
  border: solid 1px lightgrey;
  border-width: 0 0 1px 0;
}
